{{#paper-form as |form|}}
  <div class="layout-row">
    <div class="layout-column flex-50">
        {{#form.input label="Purchase Price" value=model.purchasePrice onChange=(action (mut model.purchasePrice)) required=true}}
            $
        {{/form.input}}
        {{#form.input label="Down Payment" value=model.downPayment onChange=(action (mut model.downPayment)) required=true}}
            %
        {{/form.input}}
    </div>
    <div class="layout-column flex-50">
        {{#form.input label="Amortization Period" value=model.amortization onChange=(action (mut model.amortization)) required=true}}
            Years
        {{/form.input}}
        {{#form.select
            disabled=disableSelect
            label="Frequency"
            options=model.frequencyOptions
            selected=model.frequency
            onChange=(action (mut model.frequency))
            as |freq|}}
            {{freq}}
        {{/form.select}}
    </div>
    <div class="layout-column flex-50">
        {{#form.input label="Interest" value=model.interest onChange=(action (mut model.interest)) required=true}}
            %
        {{/form.input}}
    </div>
  </div>

  Payment: ${{model.payment}}

  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Save{{/form.submit-button}}
  </div>
{{/paper-form}}